/* MeyerWeb Reset */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Theme Styles */

body {
  box-sizing: border-box;
  background: white;
  font-size: 19.84px;
  font-family: Nunito;
  -webkit-font-smoothing: antialiased;
  text-align: center;
}

#hero {
  /*background: url(../images/hero.jpg) no-repeat center center; */
  background-size: cover;
  height: 600px;
  position: relative;
  text-align: left;
}
#hero .overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: linear-gradient(25deg, #2aa198, #268bd2, #2aa198);
  background-size: 400% 400%;
  animation: gradient-movement 30s ease infinite;
}
#hero #text-container {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  margin-left: 10%;
}
#hero #typed {
  display: inline-block;
  color: white;
  font-size: 68px;
}
.typed-cursor {
  color: white;
  font-size: 68px;
  opacity: 1;
  animation: cursor-blink 1s infinite;
  font-family: initial;
}
@keyframes cursor-blink {
  0%,50% {
      opacity: 1
  }

  100%,51% {
      opacity: 0
  }
}
@keyframes gradient-movement { 
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}

#content:before {
  background: white;
  top: -120px;
  content: '';
  display: block;
  height: 120px;
  position: relative;
  transform: skewY(-5deg);
  transform-origin: 100%;
  box-shadow: inset 0 7px 9px -7px gray;
  -webkit-backface-visibility: hidden;
}