/* MeyerWeb Reset */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Theme Styles */

body {
  box-sizing: border-box;
  color:#839496;
  background: #002b36;
  font-size: 19.84px;
  font-family: Hack, monospace;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  text-align: center;
}

a {
  text-decoration: none;
  text-shadow: none;
}

a:hover, a:focus {text-decoration: underline;}

pre {
  display: inline-block;
  text-align: left;
  margin-top: 3.14em;
}

.cyan {
  color: #2aa198;
}

.blue {
  color: #268bd2;
}

.red {
  color: #dc322f;
}

/* Small Device Styles */

@media screen and (max-width: 480px) {
  body {
    font-size: 2.5em;
  }
}
>>>>>>> 973b167ae8d0b1d6e4279698b5787ee7b109bca9
